# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows shortcuts
*.lnk
# GNU Emacs
*#
*~
.idea
# TeX Files
*.log
*.aux
*.out
*.bbl
*.blg
*.toc
*.out
*.fls
*.fdb_latexmk
*.gz
*.brf
*.tps
*.xdv
*.pdf
